Samples/AwesomeMenuSample/bin
Samples/AwesomeMenuSample/obj
Tests/MonoKit.UnitTests/bin
Tests/MonoKit.UnitTests/obj
MonoKit.iOS/obj
MonoKit/obj
Samples/MonoKitSample/obj
_ReSharper.MonoKit.VS
_ReSharper.MonoKit
MonoKit.Domain/bin
Tests/MonoKit.UnitTests/MonoKit.Core.UnitTests/bin
Tests/MonoKit.UnitTests/Test.MonoKit.Core.MonoTouch/bin
MonoKit.Core.MonoTouch/bin
Tests/MonoKit.UnitTests/Test.MonoKit.Core.MonoTouch/obj
